# Unit 14. else

In [1]:
x = 5
if x == 10:
  print('It is 10.')
else:
  print('It is not 10.')

It is not 10.

### 3항 연산자(ternary operator)
- Java, JS : a = (조건) ? 참일때의 값 : 거짓일때의 값
- Python : a = 참일때의 값 if 조건 else 거짓일때의 값

In [2]:
x = 1
if x % 2 == 0:
  y = 'even'
else:
  y = 'odd'
y

'odd'

In [4]:
y = 'even' if x%2 == 0 else 'odd'
y

'odd'

In [14]:
# 90점 이상이면 'A', 80~89 : 'B', 70~79 : 'C', 60~69 : 'D', ~ 59 : F
score = int(input('점수 입력> '))
if score >= 90:
  grade ='A'
else:
  if score >= 80:
    grade = 'B'
  else:
    if score >= 70:
      grade = 'C'
    else:
      if score >= 60:
        grade = 'D'
      else:
        if score <= 59:
          grade = 'F'
grade

점수 입력> 89

'B'

In [16]:
grade = 'A' if score >= 90 else \
        'B' if score >= 80 else \
        'C' if score >= 70 else \
        'D' if score >= 60 else F
grade

'B'

### Logical operators in conditional expressions

In [17]:
x = 5
if x > 0 and x < 10:
  print('10보다 작은 양의 정수입니다.')

10보다 작은 양의 정수입니다.

In [ ]:
if 0 < x < 10:
  print('10보다 작은 양의 정수입니다.')