# Unit 19. Nested loop

## 19.1 Nested for loop

In [2]:
for i in range(1, 6):
  for k in range(10, 60, 10):
    print(k, end = ' ')
  print(i)

10 20 30 40 50 1
10 20 30 40 50 2
10 20 30 40 50 3
10 20 30 40 50 4
10 20 30 40 50 5

## 19.2 star square

In [5]:
for _ in range(5):
  for _ in range(5):
    print('*', end='')
  print()

*****
*****
*****
*****
*****

In [8]:
# # Parallelogram(평행사변형)
for i in range(4):
  for _ in range(0, i):
    print(' ', end='')
  for _ in range(5):
    print('*', end='')
  print()

*****
 *****
  *****
   *****

In [9]:
for i in range(4):
  print(' '* i, '*'*5, sep='')

*****
 *****
  *****
   *****

## 19.3 step star shape

In [10]:
for i in range(5):
  for _ in range(i+1):
    print('*', end='')
  print()

*
**
***
****
*****

In [19]:
for i in range(5):
  print('*'* (i+1),)

*
**
***
****
*****

In [15]:
for i in range(5):
  for _ in range(i):
    print(' ', end='')
  for _ in range(5-i):
    print('*', end='')  
  print()

*****
 ****
  ***
   **
    *

In [20]:
for i in range(5):
  print(' ' * i, '*' * (5-i), sep='')

*****
 ****
  ***
   **
    *

In [36]:
for i in range(5):
  print(' ' * (4-i),'*' * (2*i+1), sep='')
for i in range(5):
  print(' ' * (i+1),'*' * (7-2*i), sep='')

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [49]:
for i in range(-4, 5):
  print(' ' * (abs(i)),'*' * (-2*abs(i)+9), sep='')

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *