# Q 8

In [ ]:
kor, eng, mat, sci = map(int, input().split())

if kor >= 90 and eng > 80 and mat > 85 and sci >= 80:
  print('True')
else:
  print('False')

90 80 85 80
False

# Q 9

In [ ]:
s = '''\'Python\' is a \"programming language\"
that lets you work quickly
and
integrate systems more effectively.'''

# Q 10

In [ ]:
a = int(input())
tup = tuple(range(-10, 10, a))
print(tup)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

# Q 11.8

In [ ]:
del(x[-5:])
print(tuple(x))

oven bat pony total leak wreck curl crop space navy loss knee
['oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl']

# Q 11.9

In [ ]:
x, y = input(), input()
str1 = x[1:len(x):2] + y[:len(y):2]
print(str1)

apple
strawberry
plsrwer

# Q 12

In [ ]:
x = input().split()
y = map(float, input().split()) 
dic = dict(zip(x, y))
print(dic)

health health_regen mana mana_regen
575.6 1.7 338.8 1.63
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

# Q 13

In [ ]:
x = int(input())
y = input()
if y == 'Cash3000':
  print(x-3000)
else:
  if y == 'Cash5000':
    print(x-5000)

72000
Cash5000
67000

# Q 14

In [ ]:
kor, eng, mat, sci = map(int, input().split())
if kor < 0 or kor > 100 or eng < 0 or eng > 100 or mat < 0 or mat > 100 or sci < 0 or sci > 100:
  print('잘못된 점수')
else:
  if (kor + eng + mat + sci) / 4 >= 80:
    print('합격')
  else:
    print('불합격')

99 85 101 90
잘못된 점수