## a+b+c = 1000 (a<b<c)
## a*a + b*b = c*c

In [ ]:
for a in range(333):
  for b in range(a+1, 500):
    c = 1000 -a -b
    if c > b and (a*a + b*b == c*c):
      print(a, b, c)

200 375 425

## 본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [ ]:
from datetime import datetime

birth_year, birth_month, birth_day = map(int, input().split(' '))
if datetime.today().month >= birth_month and datetime.today().day >= birth_day:
  age = datetime.today().year - birth_year
else:
  age = datetime.today().year - birth_year - 1
print(age)

1992 09 06
28

## 디지털 시계에 하루동안(00:00-23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second) 일까요?- 디지털 시계는 하루동안 다음과 같이 시:분(00:00~23:59)으로 표시됨.

In [ ]:
sum_second = 0
for i in range(24):
  for j in range(60):
    if str(3) in str(i):
      sum_second += i * 3600 + j * 60
    else:
      if str(3) in str(j):
        sum_second += j * 60
print(sum_second)
# ans = 29700

9347400

## Q15

In [ ]:
# 17, 7950, 12, 8350
age = int(input())
balance = 9000    # 교통카드 잔액
if age >= 7 and age <= 12:
  balance -= 650
elif age >= 13 and age <= 18:
  balance -= 1050
elif age >= 19:
  balance -= 1250

print(balance)

12
8350

## Q16

In [ ]:
num = int(input())
for i in range(1, 10):
  print(num, '*', i, '=', num * i, sep=' ')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## Q17

In [ ]:
num = int(input())
while(num):
  num -= 1350
  if num >= 0: 
    print(num)
  else:
    break

13500
12150
10800
9450
8100
6750
5400
4050
2700
1350
0

## Q18

In [ ]:
start, stop = map(int, input().split())
 
i = start
 
while True:
    if i % 10 == 3:
        i += 1
        continue
    if i > stop:
        break
    print(i, end=' ')
    i += 1

1 20
1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

## Q19

In [ ]:
height = int(input())

for i in range(height):
  print(' ' * (height-1-i), '*' * (2*i + 1), sep='')

5
    *
   ***
  *****
 *******
*********

## Q20

In [ ]:
int1, int2 = map(int, input().split())
for i in range(int1, int2+1):
  if i % 5 == 0 and i % 7 == 0:
    print('FizzBuzz')
  elif i % 7 == 0:
    print('Buzz')
  elif i % 5 == 0:
    print('Fizz')
  else:
    print(i)

35 40
FizzBuzz
36
37
38
39
Fizz

## Q22

In [ ]:
int1, int2 = map(int, input().split())
int_list = [2 ** i for i in range(int1, int2+1)]
del(int_list[1])
del(int_list[-2])
print(int_list)
# for i in range(int1, int2+1):
#   [2 ** i for ]
#   num_list.append(val)
#   val *= 2
# print(num_list)

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]