# Q27

In [ ]:
file = open('words.txt', 'w')
file.write('Fortunately, however, for the reputation of Asteroid B-612, a Turkish dictator made a law that his subjects, under pain of death, should change to European costume. So in 1920 the astronomer gave his demonstration all over again, dressed with impressive style and elegance. And this time everybody accepted his report.')
file.close()

In [ ]:
with open('words.txt', 'r') as file:
  tmp = 0
  for i in file:
    tmp = i.split()
for i in tmp:
  if 'c' in i:
    print(i.strip(',.'))

dictator
subjects
change
costume
elegance
accepted

# Q29

In [ ]:
x, y = map(int, input().split())

def calc(x, y):
  return x + y, x - y, x * y, x / y

a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

10 20
덧셈: 30, 뺄셈: -10, 곱셈: 200, 나눗셈: 0.5

# Q30

In [ ]:
korean, english, mathematics, science = map(int, input().split())

def get_min_max_score(*args):
  return min(*args), max(*args)
def get_average(**kwargs):
  return sum(kwargs.values())/len(kwargs)

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

76 82 89 84
낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75
낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

# Q31

In [ ]:
def fib(n):
  if n in (1, 2):
    return 1
  else:
    return fib(n-1) + fib(n-2) 

n = int(input())
print(fib(n))

10
55