# Unit 29. function

## 29.1 Making print function

In [ ]:
def hello():
  print('hello, world!')

In [ ]:
hello()

hello, world!

## 29.2 add function

In [ ]:
def add(a, b):
  print(a+b)

In [ ]:
add(4, 5)

9

In [ ]:
# Docstrings
def add(a, b):
  '''
  이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
  '''
  print(a+b)

In [ ]:
# 도움말 호출
add?

In [ ]:
print?

## 29.3 return value

In [ ]:
def add(a, b):
  return a+b

In [ ]:
add(4,5), add(10,20)

(9, 30)

In [ ]:
x = add(23, 45)
x

68

In [ ]:
def is_ten(x):
  return x == 10

In [ ]:
is_ten(101//10)

True

In [ ]:
def not_ten(x):
  if x == 10:
    return
  else:
    print('It is not 10.')

In [ ]:
def not_ten(x):
  if x == 10:
    return
  print('It is not 10.')

In [ ]:
not_ten(5)

It is not 10.

In [ ]:
not_ten(101//10)

## 29.4 return many value

In [ ]:
def add_sub(a,b):
  return a+b, a-b

In [ ]:
x, y = add_sub(15, 7)

In [ ]:
x, y

(22, 8)

## 29.5 function call process

In [ ]:
# use the stack

## exercise
- 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롬이 되도록 할 때, 가장 큰 수는?
- 팔린드롬 = 12321

In [ ]:
li = []
for i in range(100, 1000):
  for j in range(100, 1000):
    if i*j == int(str(i * j)[::-1]):
      li.append(i * j) 
print(max(li))

906609

In [ ]:
def is_palindrome(i, j):
  if i*j == int(str(i * j)[::-1]):
    return li.append(i * j)

In [ ]:
li = []
for i in range(100, 1000):
  for j in range(100, 1000):
    is_palindrome(i, j)
print(max(li))

906609

In [51]:
# instructor's solution
def is_palindrome(x):
  s = str(x)
  return s == s[::-1]

In [56]:
instructor's solution
max_pal, m, n = 0, 0, 0
for i in range(100, 1000):
  for j in range(100, 1000):
    if is_palindrome(i * j):
      if i * j > max_pal:
        max_pal = i * j
        m = i
        n = j
print(f'{m} x {n} = {max_pal}')

913 x 993 = 906609