# Unit 30. positionIndex_keywordIndex

## 39.1 positionIndex

In [4]:
print(10, 20, 30, sep=', ')
# positionIndex : 10, 20, 30
# keywordIndex : sep

10, 20, 30

In [5]:
print(10, 20, 30, sep=', ', 40)

SyntaxError: ignored

In [6]:
def print_numbers(a,b,c):
  print(a)
  print(b)
  print(c)

In [7]:
print_numbers(10,20,30)

10
20
30

In [8]:
# list unpacking
x = [10,20,30]
print_numbers(*x)

10
20
30

In [9]:
# *x, *y - list, tuple unpacking
x, y = [10,20,30], (40,50,60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

### variable argument

In [13]:
def print_numbers2(*args):
  for arg in args:
    print(arg)

In [14]:
print_numbers2(10,20,30,40)

10
20
30
40

In [15]:
print_numbers2(10)

10

### fixed argument, variable argument mixed

In [17]:
def print_numbers3(a, *args):
  print(a)
  print(args)

In [18]:
print_numbers3(1, 10, 20)

1
(10, 20)

In [20]:
print_numbers3(*x)

10
(20, 30)

In [22]:
def print_numbers4(*args, a):
  print(args)
  print(a)

In [25]:
print_numbers4(*x)

TypeError: ignored

## 30.2 keyword argument

In [26]:
def personal_info(name, age, addr):
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', addr)

In [27]:
personal_info('홍길동', 30, '서울 강남구 도곡동')

이름:  홍길동
나이:  30
주소:  서울 강남구 도곡동

In [29]:
personal_info(age=30, name='홍길동', addr='서울 강남구 도곡동')

이름:  홍길동
나이:  30
주소:  서울 강남구 도곡동

## 30.3 keyword argument, dictionary unpacking

In [30]:
x = {'name' : '홍길동', 'age' : 30, 'addr' : '서울 강남구 도곡동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울 강남구 도곡동

### variable keyword index

In [31]:
def personal_info2(**kwargs):
  for key, value in kwargs.items():
    print(f'{key} : {value}')

In [32]:
personal_info2(**x)

name : 홍길동
age : 30
addr : 서울 강남구 도곡동

In [33]:
personal_info2(name='홍길동', age=30)

name : 홍길동
age : 30

### fixed argument and variable keyword argument

In [34]:
def personal_info3(name, **kwargs):
  print(name)
  print(kwargs)

In [35]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}

### position argument, kewword argument

In [38]:
def my_print(*args, **kwargs):
  print(*args, **kwargs)

In [39]:
my_print(10,20,30, sep=', ')

10, 20, 30

## 30.4 Storing initial values ​​in parameters

In [40]:
def personal_info4(name, age, addr='비공개'):
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', addr)

In [41]:
personal_info4('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [43]:
personal_info4(**x)

이름:  홍길동
나이:  30
주소:  서울 강남구 도곡동