# Unit 38. Exception Process

## 38.1 try except

In [2]:
a = [1, 2, 3]
try:
  a[4]
except:
  print('예외 발생')

예외 발생

## specific error process

In [3]:
try:
  int('10d')
except ZeroDivisionError:
  print('0으로 나눌 수 없습니다.')
except IndexError:
  print('Index Error 발생')

ValueError: ignored

In [4]:
try:
  int('10d')
except ZeroDivisionError:
  print('0으로 나눌 수 없습니다.')
except IndexError:
  print('Index Error 발생')
except ValueError:
  print('Value Error')

Value Error

### Get exception error message

In [5]:
try:
  int('10d')
except Exception as e:  # alias
  print(e)              # exception object __str__ method

invalid literal for int() with base 10: '10d'

## 38.2 else-finally

In [9]:
try:
  x = int(input('나눌 숫자 입력하세요. '))
  y = 10 / x
except Exception as e:
  print(e)
else:
  print(y)

나눌 숫자 입력하세요. 5r
invalid literal for int() with base 10: '5r'

In [11]:
try:
  x = int(input('나눌 숫자 입력하세요. '))
  y = 10 / x
except Exception as e:
  print(e)
else:
  print(y)
finally:
  print('코드 실행 종료')

나눌 숫자 입력하세요. 0
division by zero
코드 실행 종료

In [ ]:
with open(f) as file:
  key = file.read()

## 38.3 raise exception

In [16]:
import random
try:
  x = random.randint(1, 10)
  print(x)
  if x % 3 != 0:
    raise Exception('3의 배수가 아닙니다.')
except Exception as e:
  print('예외 발생', e)

5
예외 발생 3의 배수가 아닙니다.

In [17]:
def multiple11(x):
  if x % 11 != 0:
    raise Exception('11의 배수가 아닙니다.')
  print(x)

In [20]:
try:
  multiple11(100)
except Exception as e:
  print('예외 발생-', e)

예외 발생- 11의 배수가 아닙니다.

In [ ]:
try:
  for():
    for():
      for():
        if 조건:
          raise Exception() # multiple for loop escape
except:
  pass

## 38.4 Make Exception : Inherit and Make Exception object

In [ ]:
#